{% load static %}
<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="免费EPG节目清单，IPTV">
<meta name="keywords" content="IPTV,epg,m3u8,live,cctv,地方台,直播">
<meta name="author" content="mxdyeah">
<link rel="stylesheet" href="{% static "/css/bootstrap/4.3.1/bootstrap.min.css" %}" crossorigin="anonymous">
<script src="{% static "/js/jquery/2.1.1/jquery-2.1.1.min.js" %}" crossorigin="anonymous"></script>
<script src="{% static "/js/jquery.lazyload.min.js" %}"></script>
<script src="{% static "/js/popper/1.14.7/popper.min.js" %}"  crossorigin="anonymous"></script>
<script src="{% static "/js/bootstrap/4.3.1/bootstrap.min.js" %}"  crossorigin="anonymous"></script>
<title>mxd's EPG - Powered by mxd</title>
</head>
<body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script type="text/javascript">
  $(function () {
        $("img.lazy").lazyload();
    });

</script>
<div class="container bg-light">
    <div style="text-align: justify;">
        <img src="https://res.mxdyeah.top/picture.jsp/money.jpg" style="width:400px;float: right; margin-right: 10px; clear: both;">
    </div>
    <h1>mxd's EPG</h1>
    <h6>开源Github:<a href="https://github.com/mxdabc/epg/">&NonBreakingSpace;Github地址，请给我们点个Star！</a></h6>
    <h6>参考:<a href="https://github.com/supzhang/epg">老张的EPG</a></h6>
    <h5>使用前请阅读：<a href="https://blog.mxdyeah.top/mxdyeah_blog_post/43.html">使用说明</a></h5>
    <h5>请扫右边二维码赞助我们！否则我们可能停服！</h5>
    <h5>我们提供DIYP接口！DIYP接口<code>https://epg.imxd.top/api/diyp/</code><br>使用DIYP需要提供参数，例如：<code>?ch=CCTV1&date=20230309</code></h5>
    <h2>请珍惜服务器！不要恶意攻击！<br>赞助我们是我们前进的动力！</h2>
    <p style="text-wrap: wrap;">
    <span style="font-size: 20px;"><strong>我们与<a href="http://epg.51zmt.top:8000/" style="text-wrap: wrap;">老张的EPG Since 2019 (51zmt.top)</a>的区别如下，各位需要用直接用这个链接：</strong></span>
    </p>
    <p style="text-wrap: wrap;">
        <span style="font-size: 20px;"><strong>节目表下载地址：</strong></span><a href="./download/all-mxdyeah.xml" style="font-size: 20px;"><strong>XML地址</strong></a>
    </p>
    <p style="text-wrap: wrap;">
        <span style="font-size: 20px;"><strong>下载测试m3u文件:</strong></span><a href="./download/test.m3u" style="font-size: 20px;"><strong>测试</strong></a>
    </p>
    <p style="text-wrap: wrap;">
        <span style="font-size: 20px;"><strong>央视及各省卫视：</strong></span><a href="./download/cc-mxdyeah.xml" style="font-size: 20px; text-decoration: underline;"><span style="font-size: 20px;"><strong>cc-mxdyeah.xml</strong></span></a>
    </p>
    <p style="text-wrap: wrap;">
        <span style="font-size: 20px;"><strong>地方及数字付费：</strong></span><a href="./download/difang-mxdyeah.xml" style="font-size: 20px; text-decoration: underline;"><span style="font-size: 20px;"><strong>difang-mxdyeah.xml</strong></span></a><br/>
    </p>
    <p>EPG文件中提供{{ channel_no }}个频道 {{ crawl_day }}天内节目表共 {{ epg_no }} 条，<br/>现在提供时间为： {{ start_date }}  -  {{ end_date }} </p>
        <table class="table table-striped table-primary table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col"></th>
                <th scope="col">频道</th>
                <th scope="col">tvg-name</th>
                <th scope="col">tvg-id</th>
                <th scope="col">分类</th>
                <th scope="col">来源</th>
                <th scope="col">最新节目日期</th>
            </tr>
            </thead>
            <tbody >
            <tr>
                <th></th>
                <td><a href="#"><img src="#" alt="" height="30"></a></td>
                <td>需要显示:暂未提供节目表 的频道</td>
                <td>noepg</td>
                <td>9999</td>
                <td>所有</td>
                <td>没有</td>
                <td>七天内</td>
            </tr>
            {% for channel in channels %}
            <tr>
                    <th>{{ forloop.counter }}</th>
                    <td><a href="{{ channel.logo }}"><img class="lazy" data-original="{{ channel.logo }}" alt="{{ channel.tvg_name }}" height="30"></a></td>
                    <td><a href="/api/web/?ch={{ channel.tvg_name }}&date={{ start_date_no }}">{{ channel.name }}</a></td>
                    <td>{{ channel.tvg_name }}</td>
                    <td>{{ channel.id }}</td>
                    <td>{{ channel.sort }}</td>
                    <td>{{ channel.source }}</td>
                    <td>{{ channel.last_program_date }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
  </div>
  </body>
</html>



