<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="免费EPG节目清单，IPTV">
    <meta name="keywords" content="IPTV,epg,m3u8,live,cctv,地方台,直播">
    <meta name="author" content="mxdyeah">
    <title>{{ title }} - EPG节目清单 - mxd's EPG</title>
</head>
<body>
<div>
    <h2>当前节目及日期：{{ title }}</h2>
    <a href="{{ yesterday_url }}"><span>前一天</span></a>
    <a href="{{ tomorrow_url }}"><span>下一天</span></a>
    <ul>
        {% for epg in epgs %}
            <li><td>{{ epg.starttime }}</td>&nbsp&nbsp<td>{{ epg.title }}</td>&nbsp&nbsp<td>{{ epg.source }}</td></li>
        {% endfor %}
    </ul>
</div>
</body>
<footer><a href="https://epg.imxd.top/">mxd's&nbsp;EPG</a>&nbsp;is&nbsp;Powered&nbsp;by&nbsp;<a href="https://mxdyeah.top/">mxd.</a><br><a href="https://github.com/mxdabc/epg/">开源Github，请给我们一个Star！</a></footer>
</html>
